* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #11071F;
    color: #ffffff;
}

section {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.header {
    background-color: #1A0B2E;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    text-align: center;
    padding: 15px;
}

.list-item {
    display: inline;
    padding: 0px 20px;
    font-size: 20px;
}

.photo-section {
    text-align: center;
}

.photo-section img {
    margin: 30px 0px;
    border-radius: 50%;
}

.name h1 {
    font-size: 250%;
    letter-spacing: 2px;
}

.main-section-block {
    margin: 0 20%;
    padding: 30px;
    background: linear-gradient(130deg, #1A0B2E80 20%, #25104380 65%, #30115C80 90%, #38126D80 105%, #26104580 160%, #19063480 180%);
    border-radius: 30px;
    border: 1px solid #7127BA;
}

.main-section-block h3 {
    font-size: 150%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

:target {
    /*background-color: red;*/
}

.skills-list {
    columns: 2;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 20px;
}

.skill {
    font-weight: bold;
}

.skills-list li::marker {
    content: "> ";
    color: #9348de;
    font-weight: bold;
    font-size: 23px;
}

